.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  margin: 100px auto;
  padding: 30px;
  
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.form-group input:focus {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.button-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.join-btn {
  width: 48%;
  background-color: blue;
  color: white;
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.join-btn:hover {
  background-color: darkblue;
}

.leave-btn {
  width: 48%;
  background-color: red;
  color: white;
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

/* Leave button style when disabled */
.leave-btn:disabled {
  background-color: #c82333; /* Darker red when disabled */
  cursor: not-allowed;
}

.leave-btn:hover:enabled {
  background-color: darkred; /* Only apply hover effect when enabled */
}

@media (max-width: 768px) {
  .container {
    width: 90%;
    margin: 50px auto;
  }
}
